{% extends 'accounts/base.html' %}
{% load crispy_forms_filters %}
{% block title %} Sign-In{% endblock title %}
{% block content %}

<div class="container">

    <center><h1>Sign in to Zablog</h1></center>

<form method="POST">
    {% csrf_token %}
    {{ form|crispy }}
    <input type="Submit" class="btn btn-success btn-sm" value="Sign in"><br>
    Forgot password? <a href="{% url 'password_reset' %}" >Reset password</a><br>
    New to Zablog? <a href="{% url 'register' %}" >Create an account. </a>
</form>
</div>
{% endblock content %}